/* Hintergrund für den Indexbereich */
.index-background {
    background-color: rgba(78, 79, 85, 0.598);
    border: 2px solid rgba(108, 108, 108, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px;
    min-height: 200px;
    max-width: 1260px;
    height: auto;
    margin: 20px auto 0;
    width: 90%;
}

/* Farbe für Überschriften und fettgedruckten Text */
h1, h2, h3, h4, b {
    color: white;
}

/* Linkfarbe */
a {
    color: rgb(190, 190, 248);
}

/* Banner-Bildstil */
.banner img {
    width: 100%;
    max-width: 1250px;
    border-radius: 10px;
    border: 2px solid rgba(72, 70, 86, 0.8);
}

/* Stil für Text und GIF in einer Zeile */
.gif-text {
    padding: 0;
    border: none;
    display: flex;
    align-items: center; /* Zentriert das GIF vertikal zum Text */
}

/* Stil für das GIF-Bild */
.gif img {
    width: 100%;
    max-width: 300px; /* Maximale Breite des GIF */
    height: auto; /* Höhe bleibt proportional zur Breite */
    object-fit: cover; /* Optional: Zuschneiden des GIFs */
    border-radius: 20px;
    border: 2px solid rgba(72, 70, 86, 0.8);
}

/* Ausrichtung des GIFs nach rechts */
.gif {
    margin-left: auto;
}

/* Hover-Effekt für das GIF */
.gif img:hover {
    scale: 1.1;
}

/* Responsive Design für Bildschirme kleiner als 930px */
@media screen and (max-width: 930px) {
    .gif-text {
        flex-direction: column;
        align-items: flex-start; /* Inhalt links ausrichten */
    }

    .gif {
        margin-right: auto; /* Schiebt das GIF nach links */
        margin-left: 0;
    }
}
