.player-background {
    background-color: rgba(78, 79, 85, 0.598);
    border: 2px solid rgb(108, 108, 108, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px;
    min-height: 200px;
    height: auto 0;
    margin:20px auto 0;
    width: 90%;
    display: flex;
    align-items: center;
}

a {
    color: rgb(20, 20, 134);
}

.img-left img,
.img-right img {
    border-radius: 15px;
    border: 2px solid black;
    width: 190px;
}

.img-left {
    margin-right: 20px;
}

.img-right {
    margin-right: 20px;
}

.img-text1, .img-text2 {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    flex: 1;
}

@media screen and (max-width: 600px) {
    .player {
        flex-direction: column;
    }
}
